<template>
    <div id="content">
        <example-component></example-component>
    </div>
</template>

<script>

    import ExampleComponent from './ExampleComponent.vue'

    export default {
        name: "App",
        components: {
            ExampleComponent
        }
    }
</script>

<style scoped>

</style>
