<template>
    <div id="url-form">
        <label for="urlInput">URL to shorten:</label>
        <input type="text" id="urlInput" name="urlInput" />

        <label for="aliasInput">Alias to replace with:</label>
        <input type="text" id="aliasInput" name="urlInput" />

        <button>Create alias</button>
    </div>
</template>

<script>
    export default {
        name: "UrlForm"
    }
</script>

<style scoped>

</style>
