html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 171px; /* Margin bottom by footer height */
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 171px; /* Set the fixed height of the footer here */
  background-color: #f5f5f5;
}