h3 span.label {
    width:100px;
    display:inline-block;
}

ul.toggle_display {
    display:none;
    list-style-type:none;
    margin-left:0;
    margin-right:23px;
    padding:12px 5px 3px;
    border-bottom:1px solid #C7E7FF;
}
ul.toggle_display li {
    padding:0;
}
#tabs ul#headers li, #tabs ul#headers li h2, #stats_lines li{
    display: inline;
    margin-right: 10px;
}
#tabs ul#headers {
    border-bottom:1px solid #E3F3FF;
    padding:12px 5px 3px 5px;
    float:left;
}
.wrap_unfloat {
    overflow:hidden;
}

#tabs ul#headers li a {
    color:#595441;
    border:1px solid #C7E7FF;
    -moz-border-radius:10px 10px 0 0;
    -webkit-border-radius:10px 10px 0 0;
    border-radius:10px 10px 0 0;
    padding:10px 5px 5px 15px;
    background:#E3F3FF;
}

#tabs ul#headers li a:hover {
    text-decoration:none;
    background:#88C0EB;
}

#tabs ul#headers li a.selected {
    border-bottom:2px solid #fff;
    background:#fff;
}

#tabs ul#headers li a.selected:hover {
    background:#fff;
}

#stats_lines li a {
    -moz-border-radius:10px 10px 0 0;
    -webkit-border-radius:10px 10px 0 0;
    border-radius:10px 10px 0 0;
    padding:3px 10px;
    background:#E3F3FF;
    border:1px solid #C7E7FF;
}
#stats_lines li a:hover {
    text-decoration:none;
    background:#C7E7FF;
}
#stats_lines li a.selected {
    background:#fff;
    border:1px solid #C7E7FF;
    border-bottom:1px solid white;
}
#stats_lines li a.selected:hover {
    background:#fff;
}
.tab {
    padding:10px;
}
li#sites_various { padding-left:22px; padding-top:4px;}

li.sites_list img, #longurl img {width:16px; height: 16px; display:inline-block;}

#referrer_cell { min-width: 300px;}

#details_clicks li.bestday, #details_clicks li span.best_month, #details_clicks li span.best_year    {
    font-weight:bold;
}

ul.no_bullet {
    list-style-type: none;
    margin-left:0;
    padding:0;
}
ul.no_bullet li {
    margin-bottom:5px;
}
#historical_clicks {
    float:left;
    margin:0;
}
#historical_clicks li {
    padding:2px 10px;
    margin:0;
}
#historical_clicks li:hover {
    background:#C7E7FF !important;
}
#historical_clicks span.historical_link {
    min-width:130px;
    display:inline-block;
}
#historical_clicks span.historical_count {
    min-width:100px;
    display:inline-block;
}
h2#informations{
    word-break: break-all;
}
